# Sets the location of the flask application object: https://flask.palletsprojects.com/en/2.3.x/cli/#application-discovery
# Needed because of the presence of the "todo_app" folder
FLASK_APP=todo_app/app

# Turn on debug mode (which enables reloading on code changes and the interactive debugger: https://flask.palletsprojects.com/en/2.3.x/config/#DEBUG)
FLASK_DEBUG=true

TRELLO_API_KEY=<missing>
TRELLO_API_TOKEN=<missing>
TRELLO_BOARD_ID=<missing>
TRELLO_NOT_STARTED_LIST_ID=<missing>
TRELLO_IN_PROGRESS_LIST_ID=<missing>
TRELLO_COMPLETE_LIST_ID=<missing>

MONGO_DB_CONNECTION_STRING=<missing>
MONGO_DB_DB_NAME=<missing>
MONGO_DB_ITEMS_COLLECTION_NAME=<missing>