{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}
{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
          <li>
            {{ item.title }} -
            <form action="/toggle" method="post" class="one-button-form"> 
              <input type="hidden" name="itemId" value="{{ item.id }}"/>
                <input type="submit" 
                  value="{% if item.status == 'Not Started' %}Mark as complete{% else %}Mark as to-do{% endif %}"
                >
            </form>
            <form action="/remove" method="post" class="one-button-form"> 
              <input type="hidden" name="itemId" value="{{ item.id }}"/>
                <input type="submit" 
                  value="Remove"
                >
            </form>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col">
      <h2>New Item</h2>
      <form action="/add" method="post">
        <label for="new_item_title_input">Item Title</label>
        <input name="item_title" id="new_item_title_input"/>
        <input type="submit" value="submit"/>
      </form>
    </div>
  </div>
  
{% endblock %}