{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}
{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Not just another to-do app - this one is the best. Yes, these copy changes are to test the webhook. Here are some more.</p>
  </div>

  <div class="row">
    <div class="col">
      <h2>Items To Do</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.not_started_items %}
          <li>
            {{ item.title }} -
            <form action="/mark/in_progress" method="post" class="one-button-form"> 
              <input type="hidden" name="itemId" value="{{ item.id }}"/>
                <input type="submit" 
                  value="Mark as started"
                >
            </form>
            <form action="/remove" method="post" class="one-button-form"> 
              <input type="hidden" name="itemId" value="{{ item.id }}"/>
                <input type="submit" 
                  value="Remove"
                >
            </form>
          </li>
        {% endfor %}
      </ul>
      <h2>Items In Progress</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.in_progress_items %}
          <li>
            {{ item.title }} -
            <form action="/mark/complete" method="post" class="one-button-form"> 
              <input type="hidden" name="itemId" value="{{ item.id }}"/>
                <input type="submit" 
                  value="Mark as complete"
                >
            </form>
            <form action="/mark/to_do" method="post" class="one-button-form"> 
              <input type="hidden" name="itemId" value="{{ item.id }}"/>
                <input type="submit" 
                  value="Mark as to-do"
                >
            </form>
            <form action="/remove" method="post" class="one-button-form"> 
              <input type="hidden" name="itemId" value="{{ item.id }}"/>
                <input type="submit" 
                  value="Remove"
                >
            </form>
          </li>
        {% endfor %}
      </ul>
      <h2>Completed Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.complete_items %}
          <li>
            {{ item.title }} -
            <form action="/mark/in_progress" method="post" class="one-button-form"> 
              <input type="hidden" name="itemId" value="{{ item.id }}"/>
                <input type="submit" 
                  value="Mark as in progress"
                >
            </form>
            <form action="/remove" method="post" class="one-button-form"> 
              <input type="hidden" name="itemId" value="{{ item.id }}"/>
                <input type="submit" 
                  value="Remove"
                >
            </form>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col">
      <h2>New Item</h2>
      <form action="/add" method="post">
        <label for="new_item_title_input">Item Title</label>
        <input name="item_title" id="new_item_title_input"/>
        <input type="submit" value="submit"/>
      </form>
    </div>
  </div>
  
{% endblock %}